$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;



$whiteColor: #ffffff;
$defaultText: #292620;
$greyColor: #5C5C5C;
$lightGrey: #8C8C8C;
$goldenColor: #D4B982;
$goldenColor2 :#B89B61;
// $blackColor: #000000;
