@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: transparent;
  @include transition(.3);
  padding: 40px 20px 20px 20px;
  z-index: 2002;
  @media (min-width: 1800px) {
    & .container {
      padding: 0;
    }
    & .row {
      margin: 0 -20px;
    }
  }
  @media (max-width: $breakpoint-xl) {
    padding: 6px 0;
  }
  &.scroll-header {
    top: 0;
    padding: 20px;
    background: $whiteColor;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    @media (max-width: $breakpoint-xl) {
      padding: 6px 0;
    }
  }
  &-logo {
    display: flex;
    z-index: 22;
    @media (max-width: 1600px) {
      width: 140px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &-cta {
    @media (max-width: $breakpoint-xl) {
      margin: 0 10px 0 auto;
    }
  }
}

.navbar {
  @include transition(.3);
  margin-left: auto;
  @media (max-width: $breakpoint-xl) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -120vw;
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 90px 30px 0 30px;
    @include transition(.3);
    background-image: url('../../img/thick-lines-golden-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &.active {
    right: 0;
  }
}
.menu {
  display: flex;
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &-item {
    margin-right: 66px;
    @media (max-width: 1600px) {
      margin-right: 40px;
    }
    @media (max-width: 1400px) {
      margin-right: 35px;
    }
    @media (max-width: $breakpoint-xl) {
      margin: 0 0 15px 0;
    }
    & a {
      color: $greyColor;
      display: block;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      @media (max-width: 1400px) {
        font-size: 18px;
      }
      @media (max-width: $breakpoint-xl) {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.3;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: -100%;
        width: 100%;
        height: 6px;
        background: $goldenColor;
        @include transition(.3);
        z-index: -1;
      }
      &:hover {
        &:before {
          left: 0;
        }
      }
    }
  }
}

.menu-item-has-child {
  position: relative;
  margin-right: 84px;
  @media (max-width: 1600px) {
    margin-right: 60px;
  }
  @media (max-width: 1400px) {
    margin-right: 55px;
  }
  & .sub-menu {
    position: absolute;
    left: 0;
    top: 90px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: $whiteColor;
    width: 410px;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -20px);
    @include transition(.3);
    @media (max-width: $breakpoint-xl) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: unset;
      z-index: 99;
      padding: 90px 30px 0 30px;
      transition: unset;
    }
    & .menu-item {
      margin: 0 0 10px 0;
      line-height: 1.5;
      overflow: hidden;
      & a {
        display: inline;
        &:before {
          bottom: 0;
        }
      }
      &:last-child {
        margin: 0;
      }
    }
    
  }
  &.show {
    & .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
    }
  }
}
.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  position: relative;
  z-index: 22;
  cursor: pointer;
  @media (max-width: $breakpoint-xl) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 0;
    display: block;
    width: 30px;
    background: $goldenColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}

.navbar-contacts {
  display: none;
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & p {
      margin-bottom: 0;
    }
  }
  &__btn {
    margin-bottom: 40px;
  }
}


.nav-btn {
  display: inline;
  position: absolute;
  right: -30px;
  top: calc(50% - 8px);
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  & i:before {
    font-size: 10px;
  }
  @media (max-width: $breakpoint-xl){
    display: block;
    transform: rotate(-90deg);
    right: -70px;
    & i:before {
      font-size: 20px;
    }
  }
}

// .prev-page {
//   font-size: 12px;
//   line-height: 16px;
//   position: absolute;
//   left: 20px;
//   top: 40px;
//   display: flex;
//   align-items: center;
//   & i {
//     margin-right: 10px;
//     font-size: 18px;
//   }
// }
// p {
//   display: block;
//   font-weight: bold;
//   font-size: 24px;
//   line-height: 28px;
//   position: relative;
//   margin-bottom: 20px;
//   color: $whiteColor;
//   text-align: center;
// }
