@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: transparent;
  @include transition(.3);
  padding: 40px 20px 20px 20px;
  z-index: 2002;
  @media (min-width: 1800px) {
    & .container {
      padding: 0;
    }
    & .row {
      margin: 0 -20px;
    }
  }
  &.scroll-header {
    top: 0;
    padding: 20px;
    background: $whiteColor;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  }
  &-logo {
    display: flex;
  }
}

.body-padding {
  padding-top: 110px;
}


body {
  height: 400vh
}




.navbar {
  @include transition(.3);
  margin-left: auto;
  @media (max-width: $breakpoint-lg) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include transition(.3);
    padding: 10px;
  }
  &.active {
    right: 0;
  }
}
.menu {
  display: flex;
  @media (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & .sub-menu {
    display: none;
  }
  &-item {
    margin-right: 66px;
    & a {
      color: $greyColor;
      display: block;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      @media (max-width: 1400px) {
        font-size: 16px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 30px;
        font-weight: 900;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: -100%;
        width: 100%;
        height: 6px;
        background: $goldenColor;
        @include transition(.3);
        z-index: -1;
      }
      &:hover {
        &:before {
          left: 0;
        }
      }
    }
  }
}

.menu-item-has-child {
  position: relative;
  & .sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
  }
  &.show {
    & .sub-menu {
      display: block;
    }
  }
}
.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 22;
  @media (max-width: $breakpoint-lg) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 15px;
    display: block;
    width: 25px;
    background: $goldenColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $whiteColor;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}

.navbar-contacts {
  display: none;
}


.nav-btn {
  display: inline;
  position: absolute;
  right: -40px;
  top: calc(50% - 9px);
  background: transparent;
  border: none;
  outline: none;
  // display: none;
  cursor: pointer;
  & i:before {
    font-size: 16px;
    color: $greyColor;
  }
  @media (max-width: $breakpoint-lg){
    display: inline;
  }
}

// .prev-page {
//   font-size: 12px;
//   line-height: 16px;
//   position: absolute;
//   left: 20px;
//   top: 40px;
//   display: flex;
//   align-items: center;
//   & i {
//     margin-right: 10px;
//     font-size: 18px;
//   }
// }
// p {
//   display: block;
//   font-weight: bold;
//   font-size: 24px;
//   line-height: 28px;
//   position: relative;
//   margin-bottom: 20px;
//   color: $whiteColor;
//   text-align: center;
// }
