@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen {
  height: calc(100vh - 20px);
  position: relative;
  @media (max-width: $breakpoint-xl) {
    height: auto;
    padding-top: 20px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 24px;
  }
  & .container, & .row, & .col-xs-12 {
    height: 100%;
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
    & img {
      height: 100%;
    }
  }
  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__subtitle {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: $goldenColor;
    white-space: nowrap;
    margin-bottom: 26px;
    @media (max-width: $breakpoint-xxl) {
      white-space: unset;
    }
    @media (max-width: $breakpoint-xl) {
      font-size: 40px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 25px;
    }
  }
  &__description {
    width: 63%;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &__image {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;  
    @media (max-width: $breakpoint-xl) {
      padding: 120px 0 150px 0;
    }
    @media (max-width: $breakpoint-md) {
      width: 320px;
      margin: 0 auto;
      // padding: 90px 0 120px 0;
      padding: 0;
      margin: 90px auto 120px auto;
    }
    & .main-screen-phone {
      @include defaultIcon(contain);
      object-position: 0 70%;
      @media (max-width: $breakpoint-xl) {
        width: 500px;
        margin: 0 auto;
        object-position: unset;
      }
      @media (max-width: $breakpoint-md) {
        width: 100%;
        
      }
    }
    & .main-screen-circle {
      position: absolute;
      right: 14%;
      top: 14%;
      z-index: -2;
      @media (min-width: 2000px) {
        top: 24%;
      }
      @media (max-width: $breakpoint-xl) {
        display: none;
      }
    }
  }
}

.frame {
  position: absolute;
  padding: 30px 26px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 20;
  @media (max-width: $breakpoint-lg) {
    transform: scale(.7)!important;
  }
  @media (max-width: $breakpoint-md) {
    transform: scale(.5)!important;
  }
  &__difference {
    color: #00CE98;
  }
  &__title {
    font-weight: 500;
  }
  &__number {
    font-size: 25px;
    line-height: 29px;
    color: #1D1D1D;
    font-weight: 700;
  }
  &__search {
    top: 12%;
    left: 4%;
    width: 380px;
    height: 180px;
    background-image: url('../img/main-screen-graph.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 150px;
    background-position: bottom 30px right 30px;
    @media (min-width: 1800px) {
      top: 15%;
    }
    @media (min-width: 2000px) {
      top: 20%;
    }
    @media (min-width: 2200px) {
      top: 24%;
    }
    @media (max-width: $breakpoint-xl) {
      top: 0%;
      right: 0%;
      left: unset;
    }
    @media (max-width: $breakpoint-md) {
      right: -98px;
      // top: -30px;
      top: -110px;
      width: 360px;
    }
    & .frame__data {
      display: flex;
      flex-direction: column;
      margin-right: 22px;
    }
    & .frame__title {
      margin-bottom: 20px;
    }
  }
  &__conversion {
    right: -1%;
    bottom: 11%;
    height: 320px;
    width: 290px;
    background: url('../img/main-screen-charts.svg');
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: $breakpoint-xl) {
      left: 60%;
      bottom: 5%;
    }
    @media (max-width: $breakpoint-md) {
      // bottom: -30px;
      bottom: -150px;
      right: 20px;
      left: unset;
    }
    & .frame__title {
      margin-bottom: 10px;
    }
  }
  &__perfomance {
    width: 290px;
    height: 270px;
    left: -16%;
    bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    @media (max-width: $breakpoint-xl) {
      left: 5%;
      top: 5%;
    }
    @media (max-width: $breakpoint-lg) {
      left: 0;
    }
    @media (max-width: $breakpoint-md) {
      left: -80px;
      // top: -70px;
      top: -150px;
    }
    & .frame__title {
      margin-bottom: 10px;
    }
  }
}


.we-provide {
  background: $goldenColor;
  padding: 78px 0 100px 0;
  position: relative;
  margin-bottom: 150px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    background: url('../img/thick-lines-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media (max-width: 1600px) {
      background-size: cover;
    }
    @media (max-width: $breakpoint-sm) {
      height: 30%;
    }
  }
  @media (max-width: $breakpoint-lg) {
    padding: 60px 0;
  }
  &__title {
    & .small {
      color: $greyColor;
      font-weight: 900;
      @include fontSize(25, 45);
      // font-size: 130px;
      line-height: 1.4;
      display: block;
    }
    & .golden2 {
      display: block;
      color: $goldenColor2;
      font-weight: 700;
      font-size: 130px;
      line-height: 1;
      @media (max-width: 1600px) {
        font-size: 90px;
      }
      @media (max-width: $breakpoint-xl) {
        font-size: 70px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 50px;
      }
      &:last-child {
        margin-left: 50px;
        @media (max-width: $breakpoint-lg) {
          margin-left: 25px;
        }
      }
    }
  }
  &__description {
    margin-right: 40px;
    @media (max-width: 1600px) {
      margin: 0 0 0 20px;
    }
    @media (max-width: $breakpoint-lg) {
      margin: 30px 0 0 0;
    }
  }
}

.projects {
  margin-bottom: 150px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  &-list {
    margin-top: -45px;
    @media (max-width: $breakpoint-md) {
      margin: -35px 15px 0 15px;
    }
  }
  &-item {
    margin-bottom: 30px;
    &__image {
      margin-bottom: 60px;
      & img {
        @include defaultIcon(contain);
      }
    }
    &__title {
      font-weight: 500;
      margin-bottom: 15px;
    }
    &__services {
      margin-bottom: 10px;
      color: $lightGrey;
    }
    &__technologies {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $breakpoint-md) {
        flex-direction: column;
      }
      & li {
        color: $lightGrey;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint-md) {
          flex-direction: column;
          align-items: flex-start;
        }
        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background: $lightGrey;
          border-radius: 100%;
          margin: 0 12px;
          @media (max-width: $breakpoint-md) {
            margin: 15px 0;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    &__description {
      margin-bottom: 20px;
    }
    & .arrow-link {
      margin-top: 20px;
    }
  }
}

.services {
  margin-bottom: 160px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  & .section-title {
    margin-right: 80px;
    @media (max-width: $breakpoint-lg) {
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
  &-list {
    margin-top: 50px;
    @media (max-width: $breakpoint-xl) {
      margin: 50px 15px 0 15px;
    }
  }
  & .col-xs-12 {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-xl) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-item {
    background: #FFFFFF;
    border-radius: 30px;
    @include transition(.3);
    padding: 56px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $breakpoint-lg) {
      padding: 25px 15px;
    }
    &:hover {
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    }
    &__image {
      height: 100px;
      margin-bottom: 40px;
      & img {
        @include defaultIcon(contain);
        width: fit-content;
      }
    }
    &__title {
      font-weight: 500;
      margin-bottom: 14px;
    }
    &__description {
      margin-bottom: 40px;
    }
  }
}

.why-us {
  margin-bottom: 150px;
  position: relative;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  &-inner {
    display: flex;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }
  &__image {
    z-index: -1;
    width: 62%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    @media (max-width: 1600px){
      width: 52%;
    }
    @media (max-width: $breakpoint-lg){
      width: 400px;
      margin: auto;
      position: static
    }
    @media (max-width: $breakpoint-md) {
      height: 400px;
      margin: 0;
      width: calc(100% + 30px);
      margin: 0 -15px;
      & img {
        object-fit: cover;
        object-position: 30% 0%;
      }
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__quote {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px 140px 12px 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    @media (max-width: $breakpoint-md) {
      padding: 40px 115px 15px 15px;
    }
    &:before {
      content: '';
      background-image: url('../img/blockquote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 137px;
      height: 90px;
      position: absolute;
      left: 0;
      top: 0px;
    }
    & p {
      font-weight: 600;
      margin-bottom: 10px;
      color: $defaultText;
    } 
    & cite {
      color: #333333;
    }
    & img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      pointer-events: none;
      height: 100%;
      object-position: right;
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        width: 30%;
        object-position: bottom right;
      }
    }
  }
  &__text {
    width: 38%;
    @media (max-width: 1600px) {
      width: 48%;
    }
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
    & .section-title {
      margin-bottom: 25px;
    }
    & .section-title, & .section-title span {
      white-space: nowrap;
      @media (max-width: $breakpoint-md) {
        white-space: unset;
      }
    }
  }
}

.clients {
  margin: 120px 0 70px 0;
  & .section-title {
    margin-right: 80px;
    @media (max-width: 1400px) {
      width: 100%;
      margin: 0 0 30px 0;
    }
  }
  &-google {
    padding: 20px 30px 20px 30px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    width: 470px;
    height: 120px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 14px 40px 14px;
      height: auto;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__image {
      display: flex;
      margin-right: 18px;
      width: 120px;
      & img {
        @include defaultIcon(contain);
      }
    }
    &__title {
      font-weight: 500;
    }
    &__rating {
      display: flex;
      align-items: center;
      &_number {
        margin-right: 12px;
      }
      &_stars {
        & i {
          margin-right: 3px;
        }
      }
    }
    &__more {
      position: absolute;
      background: #D4B982;
      right: 0;
      bottom: 0;
      color: #fff;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      @media (max-width: $breakpoint-lg) {
        width: 100%;
      }
      & i {
        @include transition(.3);
        margin-left: 20px;
        &:before {
          color: $whiteColor;
          font-size: 16px;
        }
      }
      &:hover {
        & i {
          transform: translate(10px, 0);
        }
      }
    }
  }
}

.clients {
  &-carousel {
    & .clients {
      &__author {
        width: 125px;
        height: 125px;
        border-radius: 100%;
        border: 10px solid $goldenColor;
        margin-bottom: 10px;
        & img {
          @include defaultIcon(contain);
        }
        &_name {
          margin-bottom: 10px;
          font-weight: 600;
        }
      }
      &__google {
        &_icon {
          width: 80px;
          & img {
            @include defaultIcon(contain);
          }
        }
        &_rating {
          font-weight: 600;
          margin-bottom: 2px;
        }
        &_stars {
          font-size: 20px;
        }
      }
      &__text {
        @media (max-width: $breakpoint-xl) {
          padding: 0 15px;
        }
      }
    }
    &-container {
      margin-top: 100px;
      position: relative;
      @media (max-width: $breakpoint-lg) {
        margin-top: 30px;
      }
      &:before,&:after {
        content: '';
        width: 20px;
        height: 100%;
        background: $goldenColor;
        position: absolute;
        z-index: 2;
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
      }
      &:before {
        left: -20px;
      }
      &:after {
        right: -20px;
      }
    }
    .swiper-container {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .swiper-slide {
      width: 33.33%;
      text-align: center;
      font-size: 18px;
      opacity: 0.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(.7);
      transition:all 100ms linear;
      @media (max-width: $breakpoint-lg) {
        width: 100%;
        // transform: scale(1);
      }
      &.swiper-slide-active {
        width: 33.33%;
        opacity: 1;
        transform: scale(1);
        @media (max-width: $breakpoint-lg) {
          width: 100%;
        }
      }
    }
  }
}

.clients-logos {
  background: #F4F4F4;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 20%;
    @media (max-width: $breakpoint-lg) {
      width: 33.33%;
    }
    @media (max-width: $breakpoint-md) {
      width: 50%;
    }
    & img {
      @include defaultIcon(contain);
      width: 90%;
      margin: auto;
    }
  }
}
