.callback-banner {
  padding: 65px;
  background: $goldenColor;
  position: relative;
  margin-bottom: 60px;
  @media (max-width: $breakpoint-lg) {
    padding: 60px 15px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &:before {
    content: '';
    position: absolute;
    background: url('../img/thick-lines-white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 50%;
    width: 70%;
    height: 100%;
    transform: translate(-50%, 0);
    pointer-events: none;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 45px;
    line-height: 1.4;
    color: $whiteColor;
    text-align: center;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      font-size: 30px;
    }
  }
  & .btn {
    outline: none;
  }
}