@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-control {
  height: 64px;
  margin-bottom: 20px;
  &.form-textarea {
    height: 160px;
  }
  &.form-submit {
    margin: 0;
  }
  &.form-checkbox {
    height: auto;
    & label {
      color: $greyColor;
    }
    & a {
      font-weight: 700;
      color: $greyColor;
    }
  }
  &.form-submit {
    & .btn {
      border-radius: 20px;
      padding: 15px 24px;
      outline: none;
    }
  }
  & input, & textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
    width: 100%;
    height: 100%;
    border: 2px solid $goldenColor;
    background: transparent;
    color: $greyColor;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 24px;
    @include transition(.3);
    &::placeholder  {
      color: $greyColor;
    }
    &::-moz-placeholder {
      color: $greyColor;
    }
    &:focus {
      outline:none;
      box-shadow: 0 0 0 0.25rem rgba(212, 185, 130, .50%)
    }
  }
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #D4B982;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 8px;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 3px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent!important;
  border-left-color: transparent!important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}