@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-group {
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.form-textarea {
    height: 160px;
  }
  &.form-submit {
    margin: 0;
  }
  &.form-checkbox {
    height: auto;
    & label {
      color: $greyColor;
    }
    & a {
      font-weight: 700;
      color: $greyColor;
    }
  }
  &.form-submit {
    & .btn {
      border-radius: 20px;
      padding: 15px 24px;
      outline: none;
    }
  }
  & input, & textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
    width: 100%;
    height: 100%;
    border: 2px solid $goldenColor;
    background: transparent;
    color: $greyColor;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 24px;
    @include transition(.3);
    &::placeholder  {
      color: $greyColor;
    }
    &::-moz-placeholder {
      color: $greyColor;
    }
    &:focus {
      outline:none;
      box-shadow: 0 0 0 0.25rem rgba(212, 185, 130, .50%);
      background: #B89B61;
    }
  }
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #D4B982;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 8px;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 3px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent!important;
  border-left-color: transparent!important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}




.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  background: #E95555;
  border: 2px solid #B80101;
  &:focus {
    background: #E95555;
    box-shadow: 0 0 0 0.25rem rgba(233, 85, 85, .5)
  }
}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
  // border-color: #28a745;
}
.custom-select.is-valid~.valid-feedback, .custom-select.is-valid~.valid-tooltip, .form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .custom-select:valid~.valid-feedback, .was-validated .custom-select:valid~.valid-tooltip, .was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip {
  display: block;
}
.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
  display: block;
}
.valid-feedback, .invalid-feedback {
  display: none;
  line-height: 1.3;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #B80101;
}
