@import "../abstracts/mixins";
@import "../abstracts/variables";


.fade-in {
  animation: fade-in .35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animate-in {
  animation: modalIn .7s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

.animate-away {
  animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

@-webkit-keyframes modalIn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes modalIn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes modalAway {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes modalAway {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// text reveal
.text-wrapper, .header-logo {
  position: relative;
  overflow: hidden;
}
.text-wrapper .text-inner, .text-wrapper .text-inner-hero, .text-wrapper .text-inner-workflow, .header-logo-inner {
  position: relative;
  font-weight: 700;
}



// ===================Semi Donut Chart model-1========================

.semi-donut{
  --percentage: 0;
  --fill: #ff0;
  margin-left: 6px;
  transform: scale(.6);
  width: 300px;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing : border-box;
  &:after{
    content: '';
    width: 300px;
    height: 300px;
    border: 50px solid;
    border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.7 ) ) );
    animation : fillAnimation 1s ease-in;
  }
  & span:first-child {
    position: absolute;
    bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    transform: scale(1.6);
    &:after {
      content: '%';
    }
  }
  & span:last-child {
    position: absolute;
    font-size: 12.061px;
    line-height: 15px;
    color: #9D9D9D;
    transform: scale(1.6);
    bottom: 6px;
  }
}



@keyframes fillAnimation{
  0%{transform : rotate(-45deg);}
  50%{transform: rotate(135deg);}
}

@keyframes fillGraphAnimation{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
}

