@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  @include fontSize(70, 133);
  line-height: 1;
}

.heading-2 {
  @include fontSize(45, 100);
  line-height: 1;
}

.heading-3 {
  @include fontSize(45, 60);
  line-height: 1.05;
}

.heading-4 {
  @include fontSize(40, 45);
  line-height: 1.1;
}

.heading-5 {
  font-size: 30px;
  line-height: 1.33;
}

.heading-6 {
  font-size: 20px;
  line-height: 1.8;
}


.section-title {
  @include fontSize(60, 100);
  line-height: 1;
  font-weight: 700;
  color: $greyColor;
  text-transform: uppercase;
  @media (min-width: 2560px) {
    font-size: 100px!important;
  }
  & span {
    color: $goldenColor;
    font-weight: 700;
  }
}
